/* mystyle.css */

/* ตั้งค่าฟอนต์จาก Google Fonts */
body{
    font-family: "Noto Serif Thai", serif;
    background-color:#e9f3f8;
    margin: 5;
    padding: 0;
}

/* สไตล์ของหัวข้อ */
h1 {
    width: 500px;
    border-style: groove;
    border-radius: 10px;
    margin: 10px auto;
    color: #2c7a7b;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.80s ease;
}

h1:hover {
    background-color: #2c7a7b;
    color: #ced6d6;
    border-radius: 8px;
    transition: 0.80s;
}

/* Form */
form {
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}

/* เมื่อ Active */
input:focus,
textarea:focus,
select:focus {
    border-color: #2b6cb0;
    outline:none;
}

/* ปุ่ม */
button {
    padding: 5px 15px;
    font-size: 16px;
    color: white;
    background-color: #2b6cb0;
    border-radius:5px;
    cursor: pointer;
}

/* ปุ่ม Reset และ Submit */
button[type="reset"] {
    background-color: #f54949;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
    
}

button[type="Submit"] {
    background-color: #74ed6a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
}

/* ใส่ภาพ GIF */
.gif-container {
    text-align: right; /* จัดตำแหน่งภาพ */
    margin: 20px 0; /* เพิ่มระยะห่าง */

}

.gif-container img {
    max-width: 200px; /* จำกัดความกว้างสูงสุด */
    height: auto; /* ปรับความสูงอัตโนมัติ */
}